@import "../../theme/theme";
.join {
    padding: 115px 15px;
    margin-bottom: 80px;
    background-color: $gray;
    display: flex;
    justify-content: center;
    &__inner {
        justify-content: center;
        display: grid;
        grid-template-columns: minmax(200px, 493px) minmax(200px, 493px);
        @include smallTablets {
            grid-template-columns: minmax(300px, 100%);
        }
    }
    &__preview {
        border-top-left-radius: 31px;
        border-bottom-left-radius: 31px;
        background-color: $white;
        padding: 85px 27px;
        @include smallTablets {
            border-bottom-left-radius: 0;
            border-top-right-radius: 31px;
        }
    }
    &__info {
        background-color: $blue;
        border-top-right-radius: 31px;
        border-bottom-right-radius: 31px;
        height: 100%;
        position: relative;
        overflow: hidden;
        @include smallTablets {
            border-bottom-left-radius: 31px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 31px;
        }
        &__wrapper {
            height: 100%;
            padding: 29px 27px;
        }
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__decor {
        display: flex;
        column-gap: 37px;
    }
    &__decorBottom {
        align-self: flex-end;
    }
    &__circle {
        background-color: $circle;
        border-radius: 50%;
    }
    &__circleB {
        width: 86px;
        height: 86px;
        &:nth-child(2) {
            margin-bottom: 54px;
        }
    }
    &__circleS {
        width: 46px;
        height: 46px;
    }
    &__circleEnd {
        align-self: flex-end;
    }
    &__list {
        margin: 21px 0 21px 0;
        display: flex;
        flex-direction: column;
        row-gap: 31px;
        margin-bottom: 31px;
    }
    &__item {
        display: flex;
        column-gap: 8px;
    }
    &__icon {
        align-self: center;
    }
    &__text {
        font-weight: 400;
        @include fontSize(20px);
        color: $black;
        font-family: "Inter", sans-serif;
    }
    &__image {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(80px);
    }
}
.form {
    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 33px;
    }
    &__header {
        display: flex;
        flex-direction: column;
        row-gap: 11px;
    }
    &__title {
        font-weight: 700;
        @include fontSize(48px);
        color: $black;
        max-width: 493px;
        font-family: "Inter", sans-serif;
        font-family: "Inter", sans-serif;
        @include tablets {
            @include fontSize(24px);
        }
    }
    &__btn {
        padding: 13px 0;
        border: none;
        outline: none;
        font-family: "Inter", sans-serif;
        cursor: pointer;
        background-color: $blue-bold;
        font-weight: 400;
        @include fontSize(20px);
        color: #000;
        border-radius: 9px;
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: $blue-active;
        }
    }
    &__about {
        font-weight: 400;
        @include fontSize(20px);
        color: #000;
        font-family: "Inter", sans-serif;
    }
    &__fields {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    &__field {
        height: 50px;
        border: none;
        outline: none;
        border-radius: 9px;
        cursor: pointer;
        background-color: $light-gray;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        @include fontSize(20px);
        color: $gray;
        padding: 12px 15px;
    }
}