@import "../../theme/theme";

.slider {
    // background-color: $sliderGreen;
    transition: 0.4s ease-in-out;
    min-height: 518px;

    &__inner {
        display: flex;
        max-width: 1430px;
        padding: 0px 15px;
        margin: 0 auto;
        justify-content: space-between;
        column-gap: 20px;

    }


    &__carousel {
        display: flex;
        min-width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        min-height: 100%;
        max-width: 100%;
        transition: 0.4s ease-in-out;

    }

    &__panel {
        min-height: 518px;

        position: relative;

        width: 100%;
        max-width: 100%;
 
        overflow: hidden;

    }

    &__button {

        cursor: pointer;
        background-color: $light-gray;
        border-radius: 50%;
        min-width: 86px;
        height: 86px;
        font-weight: 700;
        @include fontSize(32px);
        color: $black;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;

        transition: 0.4s ease-in-out;

        &:hover {

            background-color: $blue;
            @include fontSize(40px);

        }

    }

    &__title {
        font-weight: 700;
        @include fontSize(48px);
        color: $white;
        font-family: "Inter", sans-serif;
        text-align: right;
        margin-top: 47px;
        margin-bottom: 16px;
    }

    &__item {

        display: flex;

        min-width: 100%;
        min-height: 100%;
        flex-direction: column;
        width: 100%;
        position: relative;

        &__content {
            align-self: flex-end;
            display: flex;
            flex-direction: column;


        }
    }

    &__about {
        font-weight: 400;
        @include fontSize(32px);
        text-align: right;
        color: $white;
        max-width: 587px;
        margin-bottom: 16px;

    }

    &__image {
   
        max-width: 613px;
        width: 100%;
        height: auto;
        align-self: flex-end;
 /*      position: absolute;    
      
  
        left: 0;
        bottom: 0;
        */
   
    }

    &__try {
        padding: 7px 43px;
        background-color: $yellow;
        border-radius: 7px;
        border: none;
        outline: none;
        cursor: pointer;
        font-weight: 700;
        @include fontSize(32px);
        color: $black;
        align-self: flex-end;
        transition: 0.4s ease-in-out;
        &:hover {
            background-color: $yellow-active;
        }

    }


    &__line {
        display: flex;
        height: 100%;
       
   
    }
    &__blog {
        display: flex;
        flex-direction: column;

    }
 
}
 