@import "../../theme/theme";



.course {
    margin-top: 20px;

    &__inner {
        display: flex;
        max-width: 1430px;
        padding: 0px 15px;
        width: 100%;
        margin: 0 auto;

        @include bigTablets {
            flex-direction: column;
        }


    }

    &__content {
        flex: 1 1 100%;
        height: auto;
        align-self: center;

        @include bigTablets {
            text-align: center;
        }

    }

    &__logo {
        flex: 1 1 100%;
        height: auto;
        align-self: center;

        &__image {
            width: 100%;
            max-width: 100%;
            height: auto;

        }
    }




    &__title {
        font-weight: 700;
        @include fontSize(64px);
        color: $black;
        font-family: "Inter", sans-serif;
        margin-bottom: 18px;

        @include bigTablets {
            @include fontSize(48px);
            text-align: center;
        }
    }

    &__subtitle {
        font-weight: 700;
        @include fontSize(32px);
        color: $black;
        margin-bottom: 33px;
        font-family: "Inter", sans-serif;

        @include bigTablets {
            text-align: center;
        }
    }

    &__about {
        font-weight: 400;
        @include fontSize(24px);
        color: $black;
        max-width: 748px;
        font-family: "Inter", sans-serif;

        @include bigTablets {
            text-align: center;
        margin: 0 auto;
        }
        
    }

    &__categories {
        display: flex;
        column-gap: 14px;
        margin-top: 14px;
        flex-wrap: wrap;
        row-gap: 15px;

        @include bigTablets {
            justify-content: center;
        }
    }

    &__category {
        display: flex;
        column-gap: 15px;
        background-color: $light-gray;
        align-items: center;
        justify-content: center;
        padding: 5px 19px;
        cursor: pointer;
        border-radius: 13px;

        &__text {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            @include fontSize(24px);
            color: $black;
        }
    }

    &__btn {
        background-color: $purple;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 63px;
        font-weight: 400;
        @include fontSize(36px);
        color: $white;
        border-radius: 15px;
        margin-top: 40px;
        transition: 0.4s ease-in-out;
        font-family: "Inter", sans-serif;
        white-space: wrap;

        @include mobiles {
            padding: 10px 20px;
            @include fontSize(24px);
        }

        &:hover {
            background-color: $blue-active;
        }
    }
}

/*
.course {

    
    &__inner {

        display: flex;
        max-width: 1430px;
        padding: 0px 15px;
        width: 100%;
        margin: 0 auto;
        //  flex-direction: column;
        justify-content: space-between;
        row-gap: 20px;
        //   background-color: red;
        margin-top: 70px;

        column-gap: 20px;
        @include mobiles {
            padding: 0 10px;

        }
    }


    &__title {
        font-weight: 700;
        @include fontSize(64px);
        color: $black;
        font-family: "Inter", sans-serif;
        max-width: 687px;
        margin-bottom: 18px;
    }

    &__subtitle {
        font-weight: 700;
        @include fontSize(32px);
        color: $black;
        margin-bottom: 33px;
        font-family: "Inter", sans-serif;
    }

    &__about {
        font-weight: 400;
        @include fontSize(24px);
        color: $black;
        max-width: 748px;
        font-family: "Inter", sans-serif;
    }

    &__categories {
        display: flex;
        column-gap: 14px;
        margin-top: 14px;
    }

    &__category {
        display: flex;
        column-gap: 15px;
        background-color: $light-gray;
        align-items: center;
        justify-content: center;
        padding: 5px 19px;
        cursor: pointer;
        border-radius: 13px;
        &__text {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            @include fontSize(24px);
color: $black;
        }
    }

    &__btn {
        background-color: $purple;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 10px 63px;
        font-weight: 400;
        @include fontSize(36px);
        color: $white;
        border-radius: 15px;
        margin-top: 40px;
        transition: 0.4s ease-in-out;
        font-family: "Inter", sans-serif;
        &:hover {
            background-color: $blue-active;
        }
    }
    &__logo {
        max-width: 600px;
     
    }
}
*/