@import "../../theme/theme";

.search {
    display: flex;
    flex-direction: column;
    row-gap: 22px;

    @include pc {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 20px;

    }

    &__subtitle {
        font-weight: 700;
        @include fontSize(20px);
        color: $black;
        font-family: "Inter", sans-serif;

        @include pc {
            display: none;

        }
    }

    &__text {
        font-weight: 400;
        @include fontSize(20px);
        color: $black;
        font-family: "Inter", sans-serif;

        @include pc {
            white-space: nowrap;

        }
        transition: 0.4s ease-in-out;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        
        }
    }
}