.admin{
    background-color: #f8f9fa;
    height: auto;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    //height: 100%;
   // position: fixed;
  //  left: 0;
  //  top: 0;
    &__container {
        max-width: 1430px;
        width: 100%;
        display: flex;
        height: auto;
        column-gap: 40px;
        position: relative;




        padding: 0 15px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          width: 100%;
         
        }
      
    
    }
}