@import "../../../theme/theme";

.progress {
    width: 100%;
    //  flex: 1 1 100%;
    border-radius: 10px;
    border: 1px solid $black;
    height: 30px;
    background-color: $light-gray;
    margin-top: 30px;
    overflow: hidden;
    display: flex;
    column-gap: 4px;

    &__item {
        flex: 1;
        border-left: 1px solid $black;
        height: 30px;
    }
}