@import "../../theme/theme";

.courses {
    @include pc {
        margin: 0 auto;
    }

    width: 100%;

    &__inner {
      //  background-color: red;
        display: flex;
        flex-direction: column;

        @include pc {
            max-width: 100%;
            width: 100%;
           
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-top: 35px;
        font-family: "Inter", sans-serif;
    }

    &__select {
        align-self: flex-end;
        font-family: "Inter", sans-serif;
        font-weight: 400;
        @include fontSize(24px);
        color: $black;
        border: none;
        outline: none;
    }


    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 16px;
        margin-top: 17px;
        @include pc {
            justify-content: space-between;
       //     grid-template-columns: repeat(3, 1fr);
        //    align-self: ;
            //   grid-column-gap: 16px;
        }

        @include bigTablets // display

    }
}


.card {


    display: flex;
    //   flex: 0 0 260px;
    width: 260px;
    flex-direction: column;

    cursor: pointer;
    position: relative;
    perspective: 300px;
    transition: 0.4s ease-in-out;

    @include pc {
        //    width: 240px;



    }



    &:hover {
        transform: rotateY(20deg) rotateX(10deg);
    }

    &__preview {
        border-radius: 8px;
        min-height: 176px;
    }

    &__image {
        padding: 40px 0 14px 11px;
    }

    &__title {
        font-weight: 400;
        @include fontSize(20px);
        color: $black;
        font-family: "Inter", sans-serif;
    }

    &__price {
        font-weight: 700;
        @include fontSize(20px);
        color: $black;
        font-family: "Inter", sans-serif;
    }

    &__name {
        color: $white;
        position: absolute;
        right: 0;
        top: 0;
        font-weight: 700;
        @include fontSize(40px);
        color: $white;
        font-family: "Inter", sans-serif;
        padding: 11px 22px 0 0;
        transform: rotate(7deg);
    }
}