

.banned {
    width: 100%;
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        color: #3a3a3a;
        font-family: "Nunito", sans-serif;
    }
    
    }

    .warning {
        width: 100%;
    }