@import "../../theme/theme";

.course {
    margin-top: 30px;
    &__inner {
        display: flex;
        max-width: 1074px;
        padding: 0px 15px;
        margin: 0 auto;

        @include mobiles {
            padding: 0 10px;

        }
    }

    &__wrapper {

        background-color: $blue;
        width: 100%;
        border-radius: 74px;
        display: flex;
        justify-content: space-between;
        padding: 36px 80px;
        column-gap: 30px;
        @include tablets {
            flex-direction: column;
            padding: 86px 20px;
        }
    }

    &__title {
        font-weight: 700;
        @include fontSize(36px);
        color: $black;
        font-family: "Inter", sans-serif;
        @include tablets {
          text-align: center;
        }
    }

    &__about {
        font-weight: 400;
        @include fontSize(24px);
        color: $black;
        font-family: "Inter", sans-serif;
        max-width: 421px;
        @include tablets {
            text-align: center;
          }
    }

    &__content {
        align-self: center;
    }
    &__image {

        flex: 0 1 421px;
    
    }
    &__sqr {
        position: relative;

        &__top {

            &::before {
                position: absolute;
                content: "";
                left: 50px;
                top: 0px;
                width: 30px;
                height: 30px;
                background-color: $black;
                border: 4px solid $orange;
                transform: rotate(5deg);
            }     
        
            &::after {
                position: absolute;
                content: "";
                left: 0px;
                top: 50px;
                width: 30px;
                height: 30px;
                background-color: $black;
                border: 4px solid $sliderGreen;
                transform: rotate(25deg);
            }    
        }
        &__bottom {
            margin-top: auto;



            &::before {
                position: absolute;
                content: "";
            right: 50px;
             bottom: 0px;
                width: 30px;
                height: 30px;
                background-color: $black;
                border: 4px solid $purple;
                transform: rotate(5deg);
            }     
        
            &::after {
                position: absolute;
                content: "";
               right: 0px;
               bottom: 50px;
                width: 30px;
                height: 30px;
                background-color: $black;
                border: 4px solid $red;
                transform: rotate(25deg);
            }    

        }
    }

}