$black: #302E2E;
$white: #fff;
$purple: #7D81D6;
$purpleDark:  #484ec3;
$btn-active: #3a3e8d;
$gray: #3A3A3A;
$blue: #BFD7DA;
$light-gray:  #d9d9d9;
$blue-bold: #7dc0f1;
$blue-active: #2ea6fc;
$circle: #80A9AE;
$bronze: #dad2bf;
$bronzeL: #dbd3c1;
$blackCard: #363636;
$commnetsBlue: #5885F5;
$orange: #F1861D;
$orangeLight: #f0aa64;
$grayDate: #818080;
$lightestGray: #F5F5F5;
$grayForm: #EDE2E4;
$discord: #5964F2;
$vk: #0077FF;
$google: #FFFFFF;
$yellow: #F3BE78;
$yellow-active: #cfdb8b;
$sliderGreen: #77A56C;
$grayActive: #d8d8d8;
$pink: #D33CEB;
$red: #D67D7D;
$redActive: #c43f3f;
$modalBlack: #202B3F;
$greenActive: #3c722e;