@import "../theme/variables.scss";
.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
}
.content {
  flex: 1 1 auto;
}
.darken {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  z-index: -1;
  background-color: $gray;
}
.toastContainer {
  z-index: 111;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}