@import "../../../theme/theme";

.courses {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    &__header {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        @include fontSize(24px);
        color: $black;
        font-family: "Inter", sans-serif;
        white-space: nowrap;
    }
    &__select {
        font-family: "Inter", sans-serif;
        border: none;
        outline: none;
        font-weight: 400;
        @include fontSize(24px);
        color: $black;
        cursor: pointer;
    }
    &__cards {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}