@import "../../../theme/theme";
 .reply {
    width: 100%;
    display: flex;
    flex-direction: column;
    &__btns {
        display: flex;
        justify-content: flex-end;
        column-gap: 20px;
        font-weight: 400;

        @include fontSize(20px);
     
        color: $black;
        font-family: "Inter", sans-serif;
    }
    &__btn {
        cursor: pointer;
    }
    &__input {
      border-top: none;
      border-left: none;
      border-right: none;
       cursor: pointer;
       font-weight: 400;
       @include fontSize(16px);
       color: $black;
       font-family: "Inter", sans-serif;
       padding: 6px 0 6px 14px;
       border-bottom: 0.5px solid $light-gray;
outline: none;
margin-bottom: 10px;
    }
 }