@import "../../theme/theme";

.course {
    margin-top: 30px;
    background-color: $lightestGray;
    padding: 80px 15px;
@include mobiles {
    padding: 80px 10px;
}
    &__inner {
        display: flex;
        max-width: 1430px;
        padding: 60px 30px;
        margin: 0 auto;

        flex-direction: column;
        align-items: center;
        background-color: $white;
        border-radius: 100px;
        row-gap: 30px;
width: 100%;
@include smPc {
 //   padding: 60px 10px;
}
    }

    &__content {
        display: flex;
        width: 100%;
        column-gap: 150px;
        justify-content: center;

        @include pc {
            column-gap: 40px;
        

        }
        @include smPc {
            flex-direction: column;
            align-items: center;
            width: 100%;
            row-gap: 30px;
        
        }

    }

    &__title {
        max-width: 500px;
        font-weight: 700;
        @include fontSize(48px);
        color: $black;
        font-family: "Inter", sans-serif;
        align-self: center;
        @include smPc {
          max-width:100%;
          white-space: wrap;
          text-align: center;
          @include fontSize(32px);
        }
    }

    &__personal {
        display: flex;
        column-gap: 20px;
        align-items: center;

        &__input {
            width: 30px;
            height: 30px;
            cursor: pointer;
            border: none;
            outline: none;

        }

        &__text {
            font-weight: 400;
            @include fontSize(20px);
            color: $black;
            font-family: "Inter", sans-serif;
        }
    }



    &__btn {
        justify-self: flex-start;
        margin-top: 30px;
        display: grid;
        grid-template-columns: minmax(200px, 396px);
        border: none;
        outline: none;
        cursor: pointer;
        padding: 15px 0;
        text-align: center;
        border-radius: 6px;
        z-index: 5;
        position: relative;

        &__text {
            font-weight: 700;
            @include fontSize(20px);
            color: $white;
            z-index: 3;
            font-family: "Inter", sans-serif;
        }

        &::before {
            border-radius: 6px;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: $purple;

            content: "";
        }

        &:after {
            border-radius: 6px;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-color: $purpleDark;
            transform: translateX(5px) translateY(5px);
            content: "";
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    max-width: 556px;
    width: 100%;
    row-gap: 30px;
    @include smPc {
        max-width: none;
       
      }
    &__input {
        width: 100%;
        cursor: pointer;
        border: none;
        outline: none;
        background-color: $lightestGray;
        padding: 16px 30px;
        color: $gray;
        border-radius: 20px;
        font-weight: 400;
        @include fontSize(20px);
        font-family: "Inter", sans-serif;

    }
}