@import "../../../theme/theme";
/*
.card {
   // flex: 0 1 490px;
    background-color: $light-gray;
    display: flex;
     justify-content: space-between;
}

*/

.card {
    display: flex; 
    align-items: center;  
    justify-content: space-between; 
    padding: 10px;
    border: 1px solid $light-gray;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    font-weight: 400;
    @include fontSize(24px);
    color: $black;
    font-family: "Inter", sans-serif;
    &:hover {
        background-color: $purple;
    }
  }
  
  .card__index {
    flex: 0 0 auto; 
    margin-right: 10px; 
    text-align: left; 
  }
  
  .card__text {
    flex: 1; 
    text-align: center; 
  }
  