@import "../../../theme/theme";
.edit__title {
      margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        color: #3a3a3a;
        font-family: "Nunito", sans-serif;
}
.edit {
    width: 100%;

    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 36px;
        color: #3a3a3a;
        font-family: "Nunito", sans-serif;
    }

    &__content {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;
    }

    &__btn {
        cursor: pointer;
        border-radius: 20px;
        border: none;
        outline: none;
        padding: 5px;
        background-color: $sliderGreen;
        color: $white;
        font-size: 20px;

        font-family: "Nunito", sans-serif;
        margin-top: 20px;
        width: 100%;

    }




}
/*
      <div key={student.id} className={styles.list__item}>
                                    <span className={styles.list__item__text}>
                                        {index + 1}. {student.username} ({student.email})
                                    </span>
                                    <p
                                        className={styles.list__item__remove}
                                        onClick={() => handleRemove(student.email, String(course.id))}
                                    >
                                        Удалить
                                    </p>
                                    */

.title {
    font-weight: 700;
        font-size: 24px;
        color: #3a3a3a;
        font-family: "Nunito", sans-serif;
}
.list {
    width: 100%;
    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &__remove {
            color: rgb(182, 65, 65);
            cursor: pointer;
            
        }

        &__text {
                  
        font-weight: 400;
        font-size: 20px;
        color: #3a3a3a;
        font-family: "Nunito", sans-serif;
        }
    }
}

.course {
    width: 100%;
}

.students {
    width: 100%;
}