.btn {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 53px;
    height: 53px;
    border: none;
    outline: none;
    margin-left: 18px;
    margin-bottom: 16px;
    padding: 27px 16px;

}